<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:com.automation.framework.test.DoLoginTest@4be29ed9]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:05</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.automation.framework.test.DoLoginTest@4be29ed9]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:13</td>   <td>7860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.automation.framework.test.DoLoginTest@4be29ed9]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="75cab9">  <td>19/11/11 17:49:13</td>   <td>7861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgMethods.setUp(java.lang.reflect.Method)[pri:0, instance:com.automation.framework.test.DoLoginTest@4be29ed9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="bc6874">  <td>19/11/11 17:49:14</td>   <td>8171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DoLoginTest.doLogin(org.testng.ITestContext)[pri:1, instance:com.automation.framework.test.DoLoginTest@4be29ed9]">doLogin</td> 
  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="75cab9">  <td>19/11/11 17:49:17</td>   <td>11996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgMethods.tearDown()[pri:0, instance:com.automation.framework.test.DoLoginTest@4be29ed9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:17</td>   <td>11997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.automation.framework.test.DoLoginTest@4be29ed9]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:17</td>   <td>11997</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:com.automation.framework.test.DoLoginTest@4be29ed9]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:17</td>   <td>11999</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:com.automation.framework.test.CreateOtpTest@548d708a]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:17</td>   <td>11999</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.automation.framework.test.CreateOtpTest@548d708a]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:17</td>   <td>12006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.automation.framework.test.CreateOtpTest@548d708a]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="75cab9">  <td>19/11/11 17:49:17</td>   <td>12007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgMethods.setUp(java.lang.reflect.Method)[pri:0, instance:com.automation.framework.test.CreateOtpTest@548d708a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="baadb4">  <td>19/11/11 17:49:17</td>   <td>12007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateOtpTest.createOtp(org.testng.ITestContext)[pri:2, instance:com.automation.framework.test.CreateOtpTest@548d708a]">createOtp</td> 
  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="75cab9">  <td>19/11/11 17:49:20</td>   <td>14769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgMethods.tearDown()[pri:0, instance:com.automation.framework.test.CreateOtpTest@548d708a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:20</td>   <td>14769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.automation.framework.test.CreateOtpTest@548d708a]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:20</td>   <td>14772</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:com.automation.framework.test.CreateOtpTest@548d708a]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:20</td>   <td>14773</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:com.automation.framework.test.verifyOtpTest@4b013c76]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:20</td>   <td>14774</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.automation.framework.test.verifyOtpTest@4b013c76]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:20</td>   <td>14797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.automation.framework.test.verifyOtpTest@4b013c76]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="75cab9">  <td>19/11/11 17:49:20</td>   <td>14797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgMethods.setUp(java.lang.reflect.Method)[pri:0, instance:com.automation.framework.test.verifyOtpTest@4b013c76]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="e0a07f">  <td>19/11/11 17:49:20</td>   <td>14799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyOtpTest.verifyOtp(org.testng.ITestContext)[pri:2, instance:com.automation.framework.test.verifyOtpTest@4b013c76]">verifyOtp</td> 
  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="75cab9">  <td>19/11/11 17:49:21</td>   <td>15939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgMethods.tearDown()[pri:0, instance:com.automation.framework.test.verifyOtpTest@4b013c76]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:21</td>   <td>15939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.automation.framework.test.verifyOtpTest@4b013c76]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
<tr bgcolor="9869f4">  <td>19/11/11 17:49:21</td>   <td>15940</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:com.automation.framework.test.verifyOtpTest@4b013c76]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665188480</td>   <td></td> </tr>
</table>
